  <% @alpha_ghibli_films.each do |film| %>
    <tr>
      <td><%= film["title"] %></td>
      <td><%= film["description"] %></td>
      <td><%= film["release_date"]%></td>
      <td><%= film["rt_score"].to_f/10 %></td>
    </tr>
  <% end %>
</table>