<!DOCTYPE html>
<html lang="en">
<head>
  <title>Studio Ghibli Films</title>
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
  <div class="sticky-top">
    <a class="btn btn-primary">Sort By:</a>
    <a href="/alphabetical" class="btn btn-outline-primary">Alphabetical</a>
    <a href="/highestrated" class="btn btn-outline-primary">Highest Rated</a>
    <a href="/" class="btn btn-outline-primary">Release Date</a>
  </div>
  <div class="main container">
    <table>
    <tr class="headings">
      <td>Title</td>
      <td>Description</td>
      <td>Release Date</td>
      <td>Rating</td>  
    </tr>
    <%= yield %>
  </div>
</body>
</html>