<!DOCTYPE html>
<html lang="en">
<head>
  <title>Studio Ghibli Films</title>
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
  <a href="/alphabetical">Alphabetical</a>
  <a href="/highestrated">Highest Rated</a>
  <a href="/">Release Date</a>
  <%= yield %>
</body>
</html>